:root {
  /* COLOR NAMES BY http://chir.ag/projects/name-that-color/ */
  --mine-shaft: #212121;
  --boulder: #757575;
  --silver: #bdbdbd;
  --link-water: #dae6f3;
  --botticelli: #cfddeb;
  --iron: #d2d3d3;
  --wild-sand: #f6f6f6;
  --black-squeeze: #f5f8fb;
  --quincy: #57482b;
  --pale-oyster: #998b7e;
  --tan: #d1ad8e;
  --curious-blue: #2177c4;
  --fruit-salad: #357d37;

  --link-text-color: var(--mine-shaft);
  --nav-background-color: var(--curious-blue);
  --nav-text-color: white;
  --filter-header-text-color: var(--boulder);
  --card-background-color: white;
  --card-background-color-selected: var(--link-water);
  --card-background-color-focus: var(--black-squeeze);
  --card-details-text-color: var(--quincy);
  --card-more-details-text-color: var(--mine-shaft);
  --rating-background-color: var(--fruit-salad);
  --rating-text-color: white;

  background: var(--wild-sand);
  color: var(--mine-shaft);
}

body,
td,
th,
p {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

body {
  margin: 0;
}

/* MAX-WIDTH ON VISUAL ELEMENTS */
img,
embed,
object,
video {
  max-width: 100%;
}

/* +++ TAP TARGET SIZES +++ */
a,
button,
nav {
  min-width: 48px;
  min-height: 48px;
  color: var(--link-text-color);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
#map button {
  min-width: 0px;
  min-height: 0px;
}

/* +++ NAVIGATION & FOOTER +++ */
nav,
footer {
  background-color: var(--nav-background-color);
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  color: var(--nav-text-color);
}
nav img {
  opacity: 0.5;
  width: 48px;
}
nav a,
footer a {
  color: var(--nav-text-color);
  text-decoration: none;
}
nav a:hover,
footer a:hover,
nav a:focus,
footer a:focus {
  color: var(--mine-shaft);
  text-decoration: underline;
}

/* +++ EMPTY VIEW +++ */
.empty {
  text-align: center;
}
.empty img {
  opacity: 0.5;
  width: 48px;
}

/* +++ RATING +++ */
.rating {
  color: var(--rating-text-color);
  background-color: var(--rating-background-color);
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  position: relative;
  padding: 0.4rem;
}

/* +++ MATERIAL ICONS +++ */
.material-icons.rem-3 {
  font-size: 3rem;
}
.material-icons.curious-blue {
  color: var(--curious-blue);
}

/* +++ CENTER TEXT +++ */
.text-center {
  text-align: center;
}
