button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
button:hover,
button:focus {
  color: black;
}
nav {
  display: flex;
}
nav h1 {
  flex-grow: 1;
}
nav button {
  color: white;
}

/* +++ FLEX +++ */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
}

/* +++ BREADCRUMB +++ */
.breadcrumb {
  list-style: none;
  border: 1px solid var(--curious-blue);
  margin: 0;
  padding-left: 0.5rem;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li + li:before {
  padding: 0.5rem;
  content: '/\00a0';
}

/* +++ MAP +++ */
.map {
  height: 30vh;
  width: 100%;
}

/* +++ RATING +++ */
.rating {
  color: var(--rating-background-color);
  font-size: 1.3rem;
  background-color: unset;
  text-align: unset;
  padding: unset;
}

/* +++ ADDRESS +++ */
.address {
  color: var(--quincy);
}

/* +++ CUISINE +++ */
.cuisine {
  color: var(--boulder);
  font-size: 1.3rem;
  font-weight: 700;
}

/* +++ CARD +++ */
.card {
  background: var(--card-background-color);
}

/* +++ GRID LAYOUT +++ */
.grid {
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  padding: 0;
}

/* +++ RESTAURANT +++ */
#restaurant-container,
#reviews-container {
  max-width: calc(5 * 256px + 5rem);
  margin: 0 auto;
}
#restaurant-container #img {
  max-width: 800px;
  margin: 0 auto;
  /* width: 100%; */
  width: calc(100vw - 1rem);
}
#restaurant-container #operating-hours-all {
  display: none;
}
#restaurant-container button:hover,
#restaurant-container button:focus {
  color: var(--curious-blue);
}

/* +++ REVIEWS +++ */
#reviews-container .grid {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: 48px repeat(2, 1rem) auto;
  padding: 0.5rem;
}
#reviews-container img {
  height: 48px;
  grid-row: 1;
  grid-column: 1;
  margin: 0 auto;
}
#reviews-container h3 {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
}
#reviews-container .date {
  grid-row: 2;
  grid-column: 1 / 3;
  color: var(--boulder);
  font-weight: bold;
}
#reviews-container .rating {
  grid-row: 3;
  grid-column: 1 / 3;
  font-size: 1rem;
}
#reviews-container .comments {
  grid-row: 4;
  grid-column: 1 / 3;
}

/* +++ MEDIA QUERIES +++ */
@media screen and (min-width: 600px) {
  .card {
    border: 1px solid var(--iron);
  }
  #restaurant-container .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
  #restaurant-container #img {
    grid-row: 1;
    grid-column: 1;
    width: 400px;
    max-height: 600px;
  }
  #restaurant-container #map {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    max-height: 600px;
  }
  #restaurant-container button {
    grid-row: 2;
    grid-column: 1 / 3;
  }
  #restaurant-container #operating-hours-all {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  #reviews-container .grid {
    grid-template-columns: 48px 1fr auto auto;
    grid-template-rows: 48px 1fr;
  }
  #reviews-container .date {
    grid-row: 1;
    grid-column: 3;
  }
  #reviews-container .rating {
    grid-row: 1;
    grid-column: 4;
  }
  #reviews-container .comments {
    grid-row: 2;
    grid-column: 1 / 5;
  }
}
