$black-squeeze: #f5f8fb;
$black-transparent: rgba(0, 0, 0, 0.3);
$boulder: #707070;
$curious-blue: #2177c4;
$fruit-salad: #357d37;
$iron: #d2d3d3;
$quincy: #57482b;
$white: #fff;

// +++ CENTER TEXT +++
.text-center {
  text-align: center;
}

// +++ BIGGER TEXT +++
.text-bigger {
  font-size: 2.2rem;
  font-weight: bold;
}

// +++ SUBMIT FORM +++
.backdrop {
  background: $black-transparent;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-layer {
  left: 25%;
  position: fixed;
  top: 5%;
  width: 50vw;
}

.form-background {
  background: $black-squeeze;
  border: 1px solid $iron;
  border-radius: 5px;
  padding: 1rem;
  z-index: 9999;
}

form {
  input[type='text'],
  input[type='number'],
  textarea {
    border: 1px solid $iron;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.75rem;
    resize: vertical;
    width: 100%;
  }

  button {
    background-color: $curious-blue;
    border: 1px solid $curious-blue;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0.75rem 1.75rem;

    &:hover,
    &:focus {
      background-color: $white;
      color: $curious-blue;
    }
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// +++ BREADCRUMB +++
.breadcrumb {
  border: 1px solid $curious-blue;
  list-style: none;
  margin: 0;
  padding-left: 0.5rem;

  li {
    display: inline;

    &:nth-child(1)::after {
      content: '/\00a0';
      padding: 0.5rem;
    }
  }
}
// +++ ERROR +++
.error {
  color: $white;
  text-align: center;
  text-transform: uppercase;
}
// +++ FLEX +++
.single-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

// +++ MAP +++
.single-map {
  height: 30vh;
  width: 100%;
}

// +++ RATING +++
.single-rating {
  background-color: unset;
  color: $fruit-salad;
  font-weight: bold;
  padding: unset;
  text-align: unset;
}

// +++ CARD +++
.single-card {
  background: $white;
}

// +++ ADDRESS +++
.address {
  color: $quincy;
  display: block;
  margin-top: 1rem;
}

// +++ CUISINE +++
.cuisine {
  color: $boulder;
  font-size: 1.3rem;
  font-weight: 700;
}

// +++ GRID LAYOUT +++
.grid {
  align-items: center;
  display: grid;
  grid-gap: 0.5rem;
  justify-content: space-around;
  justify-items: center;
  padding: 0;

  img {
    margin: 0 auto;
    width: calc(100vw - 1rem);
  }
}

// +++ RESTAURANT +++
.restaurant,
.reviews {
  margin: 0 auto;
  max-width: calc(5 * 256px + 5rem);
}

.restaurant {
  details {
    padding: 1rem;

    summary {
      font-size: 1.5rem;
    }

    table {
      margin: 1rem;
    }
  }

  button {
    &:hover,
    &:focus {
      color: $curious-blue;
    }
  }
}

// +++ REVIEWS +++
.reviews {
  .grid {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 48px repeat(2, 1rem) auto;
    padding: 0.5rem;
  }

  img {
    grid-column: 1;
    grid-row: 1;
    height: 48px;
    margin: 0 auto;
  }

  h3 {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }

  .date {
    color: $boulder;
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .single-rating {
    font-size: 1rem;
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .comments {
    grid-column: 1 / 3;
    grid-row: 4;
    justify-self: flex-start;
  }
}

button {
  img {
    width: 48px;
  }

  // +++ ADD BUTTON +++
  &.btn-add {
    background: $curious-blue;
    border: 3px solid $white;
    border-radius: 50%;
    bottom: 1rem;
    color: $white;
    position: fixed;
    right: 1rem;
    z-index: 9998;
  }
}
