$iron: #d2d3d3;

@media screen and (min-width: 600px) {
  .single-card {
    border: 1px solid $iron;
    margin-bottom: 0.5rem;
  }

  .restaurant {
    .grid {
      grid-gap: 0;
      grid-template-columns: repeat(2, 1fr);

      img {
        grid-column: 1;
        grid-row: 1;
        max-height: 600px;
        width: 400px;
      }
    }

    .single-map {
      grid-column: 2;
      grid-row: 1;
      height: 100%;
      max-height: 600px;
    }

    button {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    table {
      grid-column: 1 / 3;
      grid-row: 3;
    }
  }

  .reviews {
    .grid {
      grid-template-columns: 48px 1fr auto auto;
      grid-template-rows: 48px 1fr;
    }

    .date {
      grid-column: 3;
      grid-row: 1;
    }

    .single-rating {
      grid-column: 4;
      grid-row: 1;
    }

    .comments {
      font-size: 1.2rem;
      grid-column: 1 / 5;
      grid-row: 2;
    }
  }
}
